[submodule "libs/clap"]
	path = libs/clap
	url = https://github.com/free-audio/clap.git
[submodule "libs/nanovg_compat"]
	path = libs/nanovg_compat
	url = https://github.com/Tremus/nanovg_compat
[submodule "libs/clap-wrapper"]
	path = libs/clap-wrapper
	url = https://github.com/free-audio/clap-wrapper
[submodule "libs/vst3sdk"]
	path = libs/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk
[submodule "libs/rtaudio"]
	path = libs/rtaudio
	url = https://github.com/thestk/rtaudio
[submodule "libs/rtmidi"]
	path = libs/rtmidi
	url = https://github.com/thestk/rtmidi
